{% macro destroy_button(action) %}
    <form method="post" action="{{action}}" style="display: inline-block;">
        <button type="submit" class="btn btn-danger">Poista</button>
    </form>
{% endmacro %}

{% macro add_button(link, text) %}
    <a href="{{link}}" class="btn btn-success">{{text|default('Lisää')}}</a>
{% endmacro %}

{% macro edit_button_sm(link) %}
    <a href="{{link}}" class="btn btn-default btn-sm">Muokkaa</a>
{% endmacro %}

{% macro edit_button(link) %}
    <a href="{{link}}" class="btn btn-default">Muokkaa</a>
{% endmacro %}

{% macro submit_button(text) %}
    <button type="submit" class="btn btn-primary">{{text|default('Tallenna')}}</button>
{% endmacro %}