{% macro competitor_form(action, attributes) %}
<form method="post" action="{{action}}">
    <div class="form-group">
        <label class="control-label">Nimi</label>
        <input type="text" name="name" class="form-control" value="{{attributes.name}}">
    </div>

    <div class="form-group">
        <label class="control-label">Syntymäpäivä</label>
        <input type="text" name="birthdate" class="form-control" value="{{attributes.birthdate}}">
    </div>

    <div class="form-group">
        <label class="control-label">Kotimaa</label>
        <input type="text" name="country" class="form-control" value="{{attributes.country}}">
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Lisää</button>
    </div>
</form>
{% endmacro %}

{% macro competition_form(action, attributes) %}
<form method="post" action="{{action}}">
    <div class ="form-group">
        <label class="control-label">Nimi</label>
        <input type="text" name ="name" class="form-control" value="{{attributes.name}}">
    </div>

    <div class ="form-group">
        <label class="control-label">Järjestämispaikka</label>
        <input type="text" name="location" class="form-control" value="{{attributes.location}}">
    </div>

    <div class ="form-group">
        <label class="control-label">Väliaikojen määrä</label>
        <input type="text" name="split_amount" class="form-control" value="{{attributes.split_amount}}">
    </div>

    <div class ="form-group">
        <label class="control-label">Alkamisajankohta</label>
        <input type="text" name="starts_at" class="form-control" value="{{attributes.starts_at}}">
    </div>

    <div class ="form-group">
        <label class="control-label">Päättymisajankohta</label>
        <input type="text" name="ends_at" class="form-control" value="{{attributes.ends_at}}">
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Lisää</button>
    </div>
</form>
{% endmacro %}

{% macro participant_form(action, competitions, competitors, number) %}
<form method="post" action="{{action}}">
    <div class="form-group">
        <label>Kilpailu</label>
        <select class="form-control" name="competitionid">
            {% for competition in competitions %}
            <option value="{{competition.id}}">{{competition.name}}</option>
            {% endfor %}
        </select>
    </div>

    <div class="form-group">
        <label>Kilpailija</label>
        <select class="form-control" name="competitorid">
            {% for competitor in competitors %}
            <option value="{{competitor.id}}">{{competitor.name}}</option>
            {% endfor %}
        </select>
    </div>

    <div class="form-group">
        <label class="control-label">Numero</label>
        <input type="text" name="participantnumber" class="form-control" value="{{number}}">
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Lisää</button>
    </div>
</form>
{% endmacro %}

{% macro split_form(action, attributes, edit, splits) %}
<form method="post" action="{{action}}">
    <div class="form-group">
        <label>Monennes väliaika</label>
        {% if edit == true %}
        <select class="form-control" name="splitid">
            {% for split in splits %}
            <option value="{{split.id}}">{{split.split_number}}</option>
            {% endfor %}
        </select>
        {% else %}
        <input type="text" name="splitnumber" class="form-control" value="{{attributes.split_number}}" readonly>
        {% endif %}
    </div>

    <div class="form-group">
        <label class="control-label">Aika</label>
        <input type="text" name="splittime" class="form-control" value="{{attributes.split_time}}">
    </div>

    <div class="form-group">
        <input type="hidden" name="participantid" class="form-control" value="{{attributes.participant_id}}">
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Lisää</button>
    </div>
</form>
{% endmacro %}

{% macro search_form(action, label) %}
{% import "macros/buttons.html" as buttons %} 
<form method="get" action="{{action}}">
    <div class="form-group">
        <label class="control-label">{{label}}</label>
        <input type="text" name="name" class="form-control">
    </div>
    {{buttons.submit_button("Etsi")}}
</form>

{% endmacro %}