{% extends "base.html" %}
{% block content %}
{% import "macros/buttons.html" as buttons %}
{% import "macros/misc.html" as misc %}

{{misc.display_message("#{message}")}}

<h1>{{competitor.name}}</h1>

<div>   
    {{buttons.edit_button("#{base_path}/competitor/#{competitor.id}/edit")}}{{buttons.destroy_button("#{base_path}/competitor/#{competitor.id}/destroy", "Oletko varma, että halua poistaa kilpailijan #{competitor.name}?")}}  
</div>

<p></p>

<ul>
    <li><strong>Syntymäpäivä:</strong>{{competitor.birthdate}}</li>
    <li><strong>Kotimaa:</strong>{{competitor.country}}</li>
    <li><strong><a href="{{base_path}}/competitor/{{competitor.id}}/participations">Osallistumiset & tulokset</a></strong></li>
</ul>
{% endblock %}
