{% extends "base.html" %}
{% block content %}
<h1>Kilpailijat</h1>

<p>
    <a href="{{base_path}}/competitor/new" class="btn btn-success">Lisää kilpailija</a>
</p>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Nimi</th>
            <th>Syntymäpäivä</th>
            <th>Kotimaa</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        {% for competitor in competitors %}
        <tr>
            <td><a href="{{base_path}}/competitor/{{competitor.id}}">{{competitor.name}}</a></td>
            <td>{{competitor.birthdate}}</td>
            <td>{{competitor.country}}</td>
            <th><a href="{{base_path}}/competitor/{{competitor.id}}/edit" class="btn btn-default btn-sm">Muokkaa</a></th>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
