{% extends "base.html" %}
{% block content %}
{% import "macros/buttons.html" as buttons %}
{% import "macros/misc.html" as misc %}

{{misc.display_message("#{message}")}}


<h1>Kilpailijat</h1>

<p>
    {{buttons.add_button("#{base_path}/competitor/new", "Lisää kilpailija")}}
</p>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Nimi</th>
            <th>Syntymäpäivä</th>
            <th>Kotimaa</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        {% for competitor in competitors %}
        <tr>
            <td><a href="{{base_path}}/competitor/{{competitor.id}}">{{competitor.name}}</a></td>
            <td>{{competitor.birthdate}}</td>
            <td>{{competitor.country}}</td>
            <th>{{buttons.edit_button_sm("#{base_path}/competitor/#{competitor.id}/edit")}}</th>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
