{% extends "base.html" %}
{% block content %}
<h1>Hiihtokilpailujen tulospalvelu</h1>

<form>
    <div class="form-group">
        <label>Etsi kilpailu</label>
        <input class="form-control" type="text">
    </div>
    <button type="submit" class="btn btn-primary">Etsi</button>
</form>

<form>
    <div class="form-group">
        <label>Etsi kilpailija</label>
        <input class="form-control" type="text">
    </div>
    <button type="submit" class="btn btn-primary">Etsi</button>
</form>
{% endblock %}

