{% extends "base.html" %}
{% block content %}
{% import "macros/buttons.html" as buttons %}
{% import "macros/misc.html" as misc %}

{{misc.display_message("#{message}")}}


<h1>Kilpailun <a href="{{base_path}}/competition/{{competition.id}}">{{competition.name}}</a> väliajat</h1>


<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Kilpailijan nimi</th>
            <th>Kilpailijan numero</th>
            <th>1. väliaika</th>
            <th>2. väliaika</th>
            <th>Lopullinen aika</th>
            <th></th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        {% for participant in participants %}
        <tr>
            <td><a href="{{base_path}}/competitor/{{participant.competitor_id}}">{{participant.competitor_name}}</a></td>
            <td>{{participant.number}}</td>
            <td>{{first_splits["#{participant.id}"]}}</td>
            <td>{{second_splits["#{participant.id}"]}}</td>
            <td>{{final_splits["#{participant.id}"]}}</td>
            <th>{{buttons.edit_button_sm("#{base_path}/participant/#{participant.id}/splits/new", "Lisää")}}</th>
            <th>{{buttons.edit_button_sm("#{base_path}/participant/#{participant.id}/splits/edit")}}</th>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
