{% extends "base.html" %}
{% block content %}
<div class="alert alert-success">
    {{message}}
</div>

<h1>{{competition.name}}</h1>

<p>
    <button class="btn btn-danger">Poista</button> <a href="#" class="btn btn-default">Muokkaa</a>
</p>

<ul>
    <li><strong>Järjestämispaikka:</strong>{{competition.location}}</li>
    <li><strong>Alkamisajankohta:</strong>{{competition.startsAt}}</li>
    <li><strong>Päättymisajankohta:</strong>{{competition.endsAt}}</li>
    <li><strong><a href="#">Sijoitukset</a></strong></li>
</ul>
{% endblock %}