{% extends "base.html" %}
{% block content %}
{% import "macros/buttons.html" as buttons %}
{% import "macros/misc.html" as misc %}

{{misc.display_message("#{message}")}}

<h1>{{competition.name}}</h1>

<div>
    {{buttons.edit_button("#{base_path}/competition/#{competition.id}/edit")}}{{buttons.destroy_button("#{base_path}/competition/#{competition.id}/destroy", "Oletko varma että haluat poistaa kilpailun #{competition.name}?")}}  
</div>

<p></p>

<ul>
    <li><strong>Järjestämispaikka:</strong>{{competition.location}}</li>
    <li><strong>Alkamisajankohta:</strong>{{competition.startsAt}}</li>
    <li><strong>Päättymisajankohta:</strong>{{competition.endsAt}}</li>
    <li><strong><a href="{{base_path}}/competition/{{competition.id}}/participants">Osallistujat</a></strong></li>
    <li><strong><a href="#">Tulokset</a></strong></li>
</ul>
{% endblock %}